$white: #fff;
$white-smoke:#f8f8f8;

$black-light: #262626;

$gray: #bfbfbf;
$greyish-brown:#4f4f4f;
$gray-darkest:#333333;
$gray-darker: #4a4a4a;
$gray-lighter: #f7f7f7;

$warm-grey: #9b9b9b;

$green: #81c03d;

$blue: #0284c6;
$blue-dark: #0a608b;
$blue-light: #3e8bdc;