doctype html
html
    head
        title Test Shop
        meta(charset='utf8')

        link(rel="stylesheet" type="text/css" href="style.css")

        include mixin/card-product.pug
        include mixin/main-menu.pug

    body
        .base
            .main
                .container.main__container
                    .row
                        +card-product(
                            1,
                            './images/fotomaker-example.jpg',
                            'Canon PowerShot SX400 IS с улучшенной матрицей и объективом',
                            true,
                            [
                                {
                                    title:'Физический размер',
                                    content:'23.2 x 15.2 мм'
                                },
                                {
                                    title: 'Диафрагма',
                                    content: 'CMOS'
                                },
                                {
                                    title: 'Формат записи',
                                    content: 'RAW, JPEG, MP4 и другие'
                                },
                                {
                                    title: 'Фокусное расстояние',
                                    content: '18-55 мм.'
                                }
                            ],
                            'Арт. 34578435',
                            '#'

                        )
                        +card-product(
                        1,
                        './images/fotomaker-example-2.jpg',
                        'Canon PowerShot SX400 IS с улучшенной матрицей и объективом',
                        true,
                        [
                            {
                                title: 'Физический размер',
                                content: '23.2 x 15.2 мм'
                            },
                            {
                                title: 'Диафрагма',
                                content: 'CMOS'
                            },
                            {
                                title: 'Формат записи',
                                content: 'RAW, JPEG, MP4 и другие'
                            },
                            {
                                title: 'Фокусное расстояние',
                                content: '18-55 мм.'
                            }
                        ],
                        'Арт. 34578435',
                        '#'

                        )
                        +card-product(
                        1,
                        './images/fotomaker-example.jpg',
                        'Canon PowerShot SX400 IS с улучшенной матрицей и объективом',
                        true,
                        [
                            {
                                title: 'Физический размер',
                                content: '23.2 x 15.2 мм'
                            },
                            {
                                title: 'Диафрагма',
                                content: 'CMOS'
                            },
                            {
                                title: 'Формат записи',
                                content: 'RAW, JPEG, MP4 и другие'
                            },
                            {
                                title: 'Фокусное расстояние',
                                content: '18-55 мм.'
                            }
                        ],
                        'Арт. 34578435',
                        '#'

                        )
                +main-menu(['Canon', 'Olympus', 'Fujifilm', 'Pentax', 'Nikon', 'Sigma',
                    'Panasonic', 'Geleral Electrics', 'Leica', 'Zenit' ])

    script(src="./js/bundle.js")