mixin card-product(id, image, title, isAvailability, specification, art, href)
    .card-product.col
        .card-product__art= art
        .card-product__img(style='background-image: url(\"'+ image + '\")')
        .card-product__content
            .card-product__content-availability
                .card-product__content-availability-icons
                if isAvailability
                    p.card-product__content-availability-text В наличии
            a(href=href).card-product__content-title= title
            .card-product__content-specification
                each item in specification
                    .card-product__content-specification-item
                        .card-product__content-specification-item-text.card-product__content-specification-item-text_warm-grey #{item.title}
                        .card-product__content-specification-item-text.card-product__content-specification-item-text_greyish-brown #{item.content}
        .card-product__footer
            .card-product__footer-wrapper
                button.card-product__footer-button
                    .card-product__footer-button-icons
                    .card-product__footer-button-text Купить
                .card-product__footer-icons
                    .card-product__footer-icons-items.card-product__footer-icons-items_shape(data-id='#{id}'
                                                                                            data-type='card-product'
                                                                                            data-pk='card-product-#{id}')
                    .card-product__footer-icons-items.card-product__footer-icons-items_scales

