mixin main-menu(filters)
    .main-menu
        .main-menu__block-button
            .main-menu__block-button-button.main-menu__block-button-button_blue Показать результаты
            .main-menu__block-button-button.main-menu__block-button-button_white-smoke Очистить фильтр
        .main-menu__block-filter
            .main-menu__block-filter-title  Производитель
            .main-menu__block-filter-content
                each item, index in filters
                    .main-menu__block-filter-content-item
                        label
                            input(type='checkbox').main-menu__block-filter-content-item-checkbox(data-id=index)
                            span
                            p.main-menu__block-filter-content-item-label(data-pk='check-label-' + index)=item


