@import "../helpers/color";

.card-product {
  display: flex;
  flex-direction: column;
  background: $white;
  width: 308px;
  height: 590px;
  padding: 0 5.8px 0 23.9px;
  margin-right: 10px;
  box-sizing: border-box;

  &__art {
    width: 100%;
    font-family: ProximaNova-Light;
    font-size: 11.8px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: $gray;
    padding: 20px 24.9px 15px 0;
    box-sizing: border-box;
  }

  &__img {
    width: 277.3px;
    height: 200px;
    background: no-repeat center;
    background-size: contain;
  }

  &__content {
    padding-top: 22px;
    margin-bottom: auto;

    &-title {
      font-family: ProximaNova-Regular;
      font-size: 17.8px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      padding-bottom: 17px;
      color: $black-light;
    }

    &-specification {
      &-item {
        &-text {
          display: inline-block;
          font-family: ProximaNova-Light;
          font-size: 11.8px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.86;
          letter-spacing: normal;
          padding-right: 3px;

          &_greyish-brown {
            color: $greyish-brown;
          }

          &_warm-grey {
            color: $warm-grey;
          }
        }
      }
    }

    &-availability {
      &-icons {
        display: inline-block;
        width: 9px;
        height: 7px;
        background: url('../images/icons-check.png') no-repeat center;
        background-size: contain;
      }

      &-text {
        display: inline-block;
        font-family: ProximaNova-Light;
        font-size: 12.8px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $green;
        padding-left: 5px;
        box-sizing: border-box;
      }
    }
  }

  &__footer {
    width: 100%;
    padding-bottom: 31px;
    box-sizing: border-box;

    &-wrapper {
      display: flex;
      width: 100%;
    }

    &-button {
      display: flex;
      align-items: center;
      background: $blue-dark;
      margin-top: auto;
      width: 99.7px;
      height: 35px;
      box-sizing: border-box;
      padding-left: 11.2px;
      margin-right: auto;

      &-icons {
        display: inline-block;
        width: 19px;
        height: 17px;
        background: url('../images/icons-basket.png') no-repeat center;
        background-size: contain;
      }

      &-text {
        font-family: ProximaNova-Regular;
        font-size: 13.8px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $white;
        margin-left: 10.8px;
        box-sizing: border-box;
      }
    }

    &-button:hover {
      cursor: pointer;
      background: $blue;
    }

    &-icons {
      &-items {
        display: inline-block;
        width: 26px;
        height: 26px;
        background: no-repeat center;
        background-size: contain;
        margin-right: 10.6px;

        &_scales {
          background-image: url('../images/icons-scales.png');
        }

        &_shape {
          background-image: url('../images/icons-shape.png');
        }
      }
      &-items{
        cursor: pointer;
      }
    }
  }
}
.card-product:last-of-type{
  margin-right: 0;
}