@import "../helpers/color";

.main-menu{
  width:25%;
  //width: 308px;
  height: 325px;
  background: $white;
  padding: 30px 28px;
  margin-left: 10px;

  &__block-button{
      &-button{
        width: 250px;
        height: 35px;
        margin: auto auto 10px auto;
        font-family: ProximaNova-Light;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        padding: 9px 0;
        box-sizing: border-box;

        &_blue{
          background: $blue-dark;
          color: $white
        }
        &_blue:hover{
          background: $blue;
        }
        &_white-smoke{
          background: $white-smoke;
          color: $gray-darkest;
        }
      }
    &-button:hover{
      cursor: pointer;
    }
  }
  &__block-filter{
    margin-top: 18px;
    &-title{
      font-family: ProximaNova-Regular;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color:$gray-darker;
      padding-bottom: 12px;
    }
    &-content{
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;

      &-item{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        width: 110px;
          &-checkbox + span{
          display:block;
          height: 14px;
          min-width: 14px;
          border: 1px solid #d7d7d7;
          box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.07);
          box-sizing: border-box;
        }
        &-checkbox:checked + span:before{
          display: block;
          background: $blue-light url('../images/icons-shape-white.png') no-repeat center;
          color: $white;
          min-width:14px;
          height:14px;
          border: none;
          text-align: center;
          content:'';

        }
        &-checkbox:checked + span + p{
          color: $blue-light;
        }
        &-label{
          display:inline-block;
          font-family: ProximaNova-Light;
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          padding-left: 4px;
          color:$gray-darker;
          box-sizing: border-box;
        }
      }
      &-item label {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
      }
      &-item input[type=checkbox] {
        display: none;
      }
    }
  }
}



