
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova_Regular/ProximaNova_Regular.ttf");
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/ProximaNova_Light/ProximaNova_Light.ttf");
}
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../fonts/ProximaNova_Semibold/ProximaNova_Semibold.ttf");
}


h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary, time,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  /* (a) self-defined font-family: */
  font-family: 'Roboto', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body { line-height: 1; margin: 0; background: #f7f7f7;}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
button{
  border: none;
}
a{
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.base{
  width: 100%;
  height: 100%;
}
.base::before{
  box-sizing: inherit;
}
.base::after{
  box-sizing: inherit;
}